

/* UNIVERSAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY HEIGHT */

body {
    height: 100vh;
}

/* CONTAINER MAIN BACKGROUND */

#root {
    background-image: linear-gradient(to bottom,
    #009688 15%, #DADBD3 15% 100%);
}

.shadow{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* TOP-BARS */

.top-userdisplay {
    height: 10%
}

.w-2 {
    width: 350px;
}

/* WHATTSAPP BACKGROUND CHAT */

.wa-bg {
    background-image: url(../img/mine.jpg);
    overflow-y: auto;
}

/* NOTIFY PART + BELL ICON */

.bg-lightblue {
    background-color: #8EDAFC
}

.notify{
    height: 90px;
}

.bell {
    border-radius: 50%;
    background-color: white;
    padding: 10px;
    color: #8EDAFC;
}

.cursor:hover{
    cursor: pointer;
}

/* INCREASE SIZES OF ALL ICONS */

i {
    font-size: 1.5rem;
}

/* REMOVE BULLETS FROM UL */

ul {
    list-style: none;
}

/* UNIVERSAL IMAGE RESOLUTION */

img {
    padding-right: 5px;
    max-height: 50px;
    max-width: 100%;
    border-radius: 50%;
}

/* LEFT SIDE FRIEND LIST */

.friendlist{
    height: 70px;
}

/* SEARCH BAR (ABOVE FRIENDLIST) */

.search-contacts {
    min-width: 100%;
}

/* CHAT INPUT */

.chat-text {
    height: 15%;
    background-color: #F3EEEA;
}

/* TIMING IN THE CHAT */

.time {
    font-size: 0.7rem;
}

/* THE MESSAGES I SEND */

.my-messages {
    width: 30%;
    background-color: #D5F9BA;
    border-radius: 10px;
}

/* THE MESSAGES I RECEIVE */

.friend-messages {
    padding: 10px;
    width: 30%;
    background-color: white;
    border-radius: 10px;

}